#shadowsocks=45.153.130.174:2024, method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, fast-open=true, udp-relay=true, tag=DogYun-HK

trojan=45.153.130.174:443, password=CFfwJn5h5FBVzmNE70rb7g==, obfs=wss, obfs-host=ninext.news, obfs-uri=/shabi?ed=2048, fast-open=true, udp-relay=true, tls13=true, tls-verification=true, tag=DogYun-HK

#trojan=23.156.152.83:443, password=CFfwJn5h5FBVzmNE70rb7g==, obfs=wss, obfs-host=usa.hanmianbaobao.com, obfs-uri=/shabi?ed=2048, fast-open=true, udp-relay=true, tls13=true, tls-verification=true, tag=WAP-US


