shadowsocks=222.186.136.14:54172, method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, fast-open=true, udp-relay=true, tag=PQS-TW

vmess=45.153.130.174:38670, method=aes-128-gcm, password=12390ec4-8510-4f8f-90a1-66515f7c8f64, obfs=ws, obfs-uri=/path?ed=2048, fast-open=true, udp-relay=true, aead=true, tag=ByteVirt

# trojan=23.156.152.83:443, password=CFfwJn5h5FBVzmNE70rb7g==, obfs=wss, obfs-host=usa.hanmianbaobao.com, obfs-uri=/shabi?ed=2048, fast-open=true, udp-relay=true, tls13=true, tls-verification=true, tag=WAP-US

shadowsocks=hkt.miaoddns.top:24658, method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, fast-open=true, udp-relay=true, tag=喵云-HKBN

vmess=45.147.48.194:6688, method=none, password=2535baf8-ab06-4f07-96ea-173917498739, obfs=wss, obfs-host=www.cucoffice.cn, obfs-uri=/411b9d78, tls-verification=true, fast-open=true, udp-relay=true, tls13=true, aead=true, tag=德国GIA

