shadowsocks=45.153.130.174:10086, method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, fast-open=true, udp-relay=true, tag=DogYun-HK

shadowsocks=nattw1.bytevirt.net:38670, method=chacha20-ietf-poly1305, password=KqRQNgi1C/5MrhIdNZSsQw==, fast-open=true, udp-relay=true, tag=ByteVirt-TW

# trojan=23.156.152.83:443, password=CFfwJn5h5FBVzmNE70rb7g==, obfs=wss, obfs-host=usa.hanmianbaobao.com, obfs-uri=/shabi?ed=2048, fast-open=true, udp-relay=true, tls13=true, tls-verification=true, tag=WAP-US

vmess=45.147.48.194:6688, method=none, password=2535baf8-ab06-4f07-96ea-173917498739, obfs=wss, obfs-host=www.cucoffice.cn, obfs-uri=/411b9d78, tls-verification=true, fast-open=true, udp-relay=true, tls13=true, aead=true, tag=德国GIA

