狗云 = snell, 47.76.135.243, 18888, psk=KqRQNgi1C/5MrhIdNZSsQw==, version=4, tfo=false, udp-relay=true
DogYun = ss, 47.76.135.243, 10086, encrypt-method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, udp-relay=true, tfo=false, mptcp=true, ip-version=v4-only
ByteVirt-TW = ss, 47.76.135.243, 19929, encrypt-method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, udp-relay=true, tfo=false, mptcp=true, ip-version=v4-only
ByteVirt-V6 = ss, 2408:8763:0:909:97b8:fd8c:7ce6:170e, 38670, encrypt-method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, udp-relay=true, tfo=false, mptcp=true, ip-version=v4-only
