狗云 = snell, 45.153.130.174, 18888, psk=KqRQNgi1C/5MrhIdNZSsQw==, version=4, tfo=false, udp-relay=true
DogYun = ss, 45.153.130.174, 10086, encrypt-method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, udp-relay=true, tfo=false, mptcp=true, ip-version=v4-only
德国GIA = vmess, 45.147.48.194, 6688, username=2535baf8-ab06-4f07-96ea-173917498739, sni=www.cucoffice.cn, ws=true, ws-path=/411b9d78, vmess-aead=true, udp-relay=true, tls=true, tfo=false, ip-version=v4-only
ByteVirt-TW = ss, tw.maitz.ink, 38670, encrypt-method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, udp-relay=true, tfo=false, mptcp=true, ip-version=v4-only
