狗云 = snell, 45.153.130.174, 18888, psk=KqRQNgi1C/5MrhIdNZSsQw==, version=4, tfo=false, udp-relay=true
DogYun = ss, 45.153.130.174, 10086, encrypt-method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, udp-relay=true, tfo=false, mptcp=true, ip-version=v4-only
ByteVirt-TW = ss, 47.76.135.243, 9929, encrypt-method=aes-128-gcm, password=KqRQNgi1C/5MrhIdNZSsQw==, udp-relay=true, tfo=false, mptcp=true, ip-version=v4-only
